name: Build and publish NestJS Docker image

on:
  workflow_dispatch:
  push:
    branches: [main, beta]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v4
        with: 
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and Push docker image
        uses: docker/build-push-action@v5
        with: 
          context: .
          push: true
          tags: vladcp/nestjs-app
        

